
.background-yellow {
    -fx-background-color: #f5c518;
}

.background-black {
    -fx-background-color: #000000;
}

.title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.description {
    -fx-font-size: 12px;
}

.genre, .releaseYear, .rating{
    -fx-font-weight: bold;
}

.statusLabel {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #f5c518;
}

.text-yellow {
    -fx-text-fill: #f5c518;
}

.text-white {
    -fx-text-fill: #ffffff;
}

.list-view .list-cell:even {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-view .list-cell:odd {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.movie-cell {
    -fx-background-color: black;
    -fx-padding: 2;
}

.filter-combo-box {
    -fx-background-color: white;
    -fx-text-fill: #000000;
}

.filter-combo-box .list-view .list-cell {
    -fx-background-color: white;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-border-style: none none solid none; /* No border on top, left, and right; solid on bottom */
    -fx-border-width: 0 0 1 0; /* No width on top, left, and right; 1px on bottom */
    -fx-border-color: black; /* Change 'black' to your desired color */
}